# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
registered_report/*.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# ABCD data should not be tracked by Git
/data/abcd_lmtlb01
/data/LMT
/data/*.txt
/data/*.RData

/data/test_set.csv
/data/training_set.csv
/data/lmt_clean.csv
/data/flanker_clean.csv
/data/dccs_clean.csv
/data/pcps_clean.csv
/data/mnlfa_ivs*
/data/ddm_data.csv
/data/iv_data.csv

/analysis_objects/ddm*
/analysis_objects/results*
/analysis_objects/rhat*
/analysis_objects/exploratory*
/
